{% extends 'schedule_choose_block.html' %}

{% block schedule %}
    <table>
      <tr>
        <th>Занятие/День недели</th>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
        <th>Суббота</th>
      </tr>
        {% for lesson in lessons %}
      <tr>
        <td>{{ lesson.num }}</td>
          {% for day in lesson.less %}
            <td><div>{{ day.subject.subject.name }}</div><div>{{ day.subject.teacher.name }}</div><div class='{{ day.subject.type }}'>{{ day.subject.type }}</div><div>{{ day.room.number }}</div></td>
          {% endfor %}
      </tr>
        {% endfor %}
    </table>
{% endblock %}
