{% extends 'schedule_choose_block.html' %}

{% block schedule %}
    <table>
      <tr>
        <th>Занятие/День недели</th>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
        <th>Суббота</th>
      </tr>

        {% for lessonss in lessons %}
              <tr>
                  <td>...</td>

               {% for day in lessonss %}
                    <td><div>{{ day.les.subject }}</div><div>{{ day.les.subject.teacher.name }}</div><div class='{{ day.les.subject.type }}'>{{ day.les.subject.type }}</div><div>{{ day.les.room.number }}</div></td>
               {% endfor %}
              </tr>

        {% endfor %}
    </table>

{% endblock %}
